#!/sbin/runscript
# Copyright 1999-2008 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

depend() {
	before checkfs fsck
	after modules
	
	# As of .67-r1, we call ALL lvm start/stop scripts with --sysinit, that
	# means dmeventd is NOT notified, as it cannot be safely running
	
	before dmeventd
}

start() {
	local f=/lib/rcscripts/addons/dm-start.sh
	if [ -r "$f" ]; then
		( . "$f" )
	fi
}

