# profiles.eselect.example - Example profiles.eselect.desc file

# The 'Type' column specifies the type of profile.
# Currently supported types are arch, build, flavor, mix-ins, and 2008.

# The 'Name' column contains the path to the profile relative to "${PORTDIR}/profiles"

# The 'Status' column is used to indicate the status of the profile.

# The 'NoMix' column should contain a comma separated list profiles that should not be mixed with that profile
# Must specify with path from type. Ex: 'flavor/desktop' , 'arch/x86-32bit' , ect ...

# *** Note that the entries in NoMix are ficticious and only for example of how to use ***

# Type		Name							Status		NoMix

arch		funtoo/1.0/linux-gnu/arch/x86-32bit			testing
arch		funtoo/1.0/linux-gnu/arch/x86-64bit			testing

build		funtoo/1.0/linux-gnu/build/stable			testing
build		funtoo/1.0/linux-gnu/build/current			testing
build		funtoo/1.0/linux-gnu/build/experimental			testing

flavor		funtoo/1.0/linux-gnu/flavor/minimal			testing
flavor		funtoo/1.0/linux-gnu/flavor/core			testing
flavor		funtoo/1.0/linux-gnu/flavor/desktop			testing		mix-ins/rhel5-compat,mix-ins/server-db

mix-ins		funtoo/1.0/linux-gnu/mix-ins/dvd			testing		mix-ins/server-db
mix-ins		funtoo/1.0/linux-gnu/mix-ins/gnome			testing		mix-ins/server-db
mix-ins		funtoo/1.0/linux-gnu/mix-ins/kde			testing		mix-ins/server-db
mix-ins		funtoo/1.0/linux-gnu/mix-ins/media			testing
mix-ins		funtoo/1.0/linux-gnu/mix-ins/rhel5-compat		testing		flavor/desktop
mix-ins		funtoo/1.0/linux-gnu/mix-ins/server-db			testing		mix-ins/dvd,mix-ins/gnome,mix-ins/kde,flavor/desktop
mix-ins		funtoo/1.0/linux-gnu/mix-ins/server-mail		testing
mix-ins		funtoo/1.0/linux-gnu/mix-ins/server-web			testing
mix-ins		funtoo/1.0/linux-gnu/mix-ins/workstation            	testing
mix-ins		funtoo/1.0/linux-gnu/mix-ins/workstation-minimal    	testing

# Monolithic Profiles

mono		default/linux/amd64/2008.0				stable
mono		default/linux/amd64/2008.0/desktop			stable
mono		default/linux/amd64/2008.0/developer			stable
mono		default/linux/amd64/2008.0/server			stable

mono		default/linux/x86/2008.0				stable
mono		default/linux/x86/2008.0/desktop			stable
mono		default/linux/x86/2008.0/developer			stable
mono		default/linux/x86/2008.0/server				stable

mono		default/linux/arm/10.0					stable
mono		default/linux/arm/10.0/desktop				stable
mono		default/linux/arm/10.0/developer			stable
mono		default/linux/arm/10.0/server				stable

