#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/media-sound/mpd/files/mpd.rc,v 1.5 2009/07/25 11:10:18 ssuominen Exp $

depend() {
	need localmount
	use net.lo netmount nfsmount esound pulseaudio
} 

checkconfig() {
	if ! [ -f /etc/mpd.conf ]; then
		eerror "Configuration file /etc/mpd.conf does not exist."
		return 1
	fi

	return 0
}

start() {
	checkconfig || return 1

	ebegin "Starting Music Player Daemon" 
	/usr/bin/mpd /etc/mpd.conf
	eend $?
}

stop() {
	ebegin "Stopping Music Player Daemon"
	/usr/bin/mpd --kill /etc/mpd.conf
	sleep 0.1
	eend $? 
}
