[Unit]
Description=CPU frequency scaling via cpufrequtils

[Service]
EnvironmentFile=/etc/conf.d/cpufrequtils
ExecStart=/usr/libexec/cpufrequtils-change.sh $START_OPTS -- $SYSFS_EXTRA
ExecReload=/usr/libexec/cpufrequtils-change.sh $STOP_OPTS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
